<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <div class="d-flex flex-column">
        <div>
          <p class="display-4 text-light">{{ artistDoc.name }}</p>
        </div>
        <div class="cards mb-5 ">
          <app-number-cards [numberCardsData]="numberCardsData"></app-number-cards>
        </div>
        <div class="lines ">
          <div class="row no-gutters lines-row">
            <div class="col">
              <app-line></app-line>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

