<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col">
      <div class="col mb-3">
        <app-artist-profile [audioFeaturesData]="audioFeaturesData"></app-artist-profile>
      </div>
      <div class="col mb-4">
        <p class="display-5 text-light">{{ artistDoc.name }}</p>
      </div>
      <div class="col cards mb-4">
        <app-number-cards [numberCardsData]="numberCardsData"></app-number-cards>
      </div>
      <div class="col lines-row mb-3">
        <app-line [albumsLineChartData]="albumsLineChartData"></app-line>
      </div>
      <div class="col wordcloud-row">
        <app-wordcloud [wordCloudData]="wordCloudData"></app-wordcloud>
      </div>
    </div>
  </div>
</div>