<div class="row no-gutters align-items-center mx-auto nav-row">

  <div class="col-2">
    <div id="" class="d-flex justify-content-between">
      <i (click)=onOpenSidebar() class="fas fa-align-center fa-2x toggler-icon my-auto"></i>
      <div id="logo" class="d-flex justify-content-between mt-2">
          <i class="fas fa-headphones-alt fa-3x"></i>
          <p class="display-6">Lytics</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="d-flex">
      <form id="search-artists" class="form-inline mx-auto d-flex">
        <input class="form-control mr-sm-2 search-input" type="search" placeholder="Search artists e.g Drake"
          aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0 btn-search" type="submit">Search</button>
      </form>
      <i class="fas fa-users-cog fa-2x user-settings-icon"></i>
    </div>
  </div>
  
</div>