.line-chart-wrapper {
  background-color: #1b1e27;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
}

.lines-row-in {
  height: 100%;
}

.x-axis,
.y-axis {
  color: #1b1e27;
  stroke-width: 1px;
}

/* #f1f1f1 */

.y-axis path.domain {
  stroke: #1b1e27;
}

.timeline-row {
  height: 4rem;
  background-color: #1b1e27;
  border-radius: 1.5rem 0 0 1.5rem;
}

.line-legend-wrapper {
  background-color: #1b1e27;
  width: 100%;
  height: 100%;
  border-radius: 0 1.5rem 1.5rem 0;
}

.timeline-chart-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.timeline-chart {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-ellipse {
  height: 5rem;
  width: 5rem;
  border: 3px solid #f1f1f1;
  border-radius: 10rem;
  transition: all 3s;
}
