.one-of-four {
  background-color: #1b1e27;
  width: 14rem;
  height: 6.5rem;
  border-bottom: 0.5rem solid #a8385d;
  border-radius: 10px;
}

.card-value,
.card-title {
  margin-left: 1rem;
}

.card-value {
  font-size: 1.5rem;
}
