.one-of-four {
  background-color: #1b1e27;
  width: 14rem;
  height: 6.5rem;
  border-bottom: 0.5rem solid #a8385d;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.one-of-four:hover {
  background-color: #00727f;
}

.card-value,
.card-title {
  margin-left: 0.5rem;
}

.card-value {
  font-size: 1.5rem;
}
