.list-group-item {
  padding: 0;
  background-color: #1b1e27;
  width: 80%;
  border: none;
}

.right-lgic,
.left-lgic {
  background-color: #1b1e27;
  padding: 0.6rem;
}

.middle-lgic {
  width: 5px !important;
  background-color: #21242f;
}

.list-group-item:hover .left-lgic {
  background-color: #030407ab;
  transform: scale(1.15);
  -webkit-box-shadow: -2px -1px 15px 7px rgba(#030407ab, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(#030407ab, 0.425);
  box-shadow: -4px -3px 45px 21px rgba(#030407ab, 0.35);
}

.right-lgic {
  border-radius: 25px 0px 0px 25px;
  transition: all 0.5s;
}

.left-lgic {
  border-radius: 0px 25px 25px 0px;
  transition: all 0.5s;
}

.img-ellipse,
.profile-link {
  width: 5rem;
}

.img-ellipse {
  position: absolute;
  top: -40%;
  left: 10%;
  height: 5rem;
  border: 3px solid #f1f1f1;
  border-radius: 10rem;
  transition: all 3s;
}

.profile-link {
  background: #f1f1f1;
  color: #00727f;
  width: 90%;
  /* height: 20px; */
  padding: 0;
  border-radius: 15px;
}

.chart-icon {
  font-size: 3rem;
}
