<div class="container-fluid">
  <div id="main" class="mx-4 my-5">
    <app-navbar></app-navbar>
    <div id="container" class="mx-auto mt-2">
      <div class="row">
        <div *ngIf="isSidebarOpen" class="col-2">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col">

          <div id="content" class="mx-auto mt-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li *ngIf="breadCrumbStatus.artists.visible"
                  [ngClass]="{'active': breadCrumbStatus.artists.active}"
                  class="breadcrumb-item bci">Artists</li>
                <li *ngIf="breadCrumbStatus.artist.visible"
                  [ngClass]="{'active': breadCrumbStatus.artist.active}"
                  class="breadcrumb-item bci">{{ breadCrumbStatus.artist.name }}</li>
                <li *ngIf="breadCrumbStatus.track.visible"
                  [ngClass]="{'active': breadCrumbStatus.track.active}"
                  class="breadcrumb-item bci">Track name</li>
              </ol>
            </nav>
            <div class="col mt-5">
              <router-outlet></router-outlet>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>