.page-link {
  background-color: #1b1e27;
  border: none;
  color: #f1f1f1;
}

.page-item.active .page-link {
  background-color: #00727f;
}

.page-item.disabled .page-link {
  background-color: #1b1e27;
}
