#container {
  /* position: absolute; */
  width: 95%;
  height: 100%;

  background: linear-gradient(
    180deg,
    #21242f 53.46%,
    rgba(33, 36, 47, 0) 87.83%
  );
  border-radius: 0 25px 25px 0;
}
