/* You can add global styles to this file, and also import other style files */

body {
  background-color: #21242f;
}

.navbar-dark,
.bg-dark {
  background-color: #030407 !important;
}

.btn-outline-dark {
  background-color: #21242f !important;
}

.form-control {
  border-radius: 1.5rem;
}

.btn {
  border-radius: 1.5rem;
}

.lgi:hover .left-lgic {
  background-color: #030407ab;
  transform: scale(1.15);
  -webkit-box-shadow: -2px -1px 15px 7px rgba(#030407ab, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(#030407ab, 0.425);
  box-shadow: -4px -3px 45px 21px rgba(#030407ab, 0.35);
}

svg {
  overflow: visible;
  /* width: 100%; */
}

g.x-axis text,
g.y-axis text {
  color: #f1f1f1 !important;
}

.artist-albums-circle {
  /* cursor: pointer; */
  transition: r 0.5s;
}

.artist-albums-circle:hover {
  r: 15;
}
