<div id="artist-profile-bar" class="">
  <div class="row row-cols-1 no-gutters profile mx-auto">
    <div class="col text-center py-4 profile-col">
      <div class="text-center img-ellipse mx-auto"></div>
      <button class="btn btn-dark profile-link mt-2">Artist</button>
    </div>
    <div class="col mt-5">
      <ul class="list-group">
        <li *ngFor="let item of audioFeaturesData"class="list-group-item btn text-light text-center mx-auto mb-3">
          <div class="row">
            <div class="col-8 align-content-end right-lgic"> 
              <div class="row">
                <p class="m-0">{{ item.series[0].name }}</p>
                <app-h-bar-s [item]="item"></app-h-bar-s>
              </div>
            </div>
            <div class="col-1 middle-lgic">
            </div>
            <div class="col left-lgic">
              <p class="small mt-4">{{ item.series[0].value.toFixed(1) * 100 + '%' }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>